@{
    ViewData["title"] = "Informacion autor";
    Layout = "_Principal";
}

<h1>desde la vista normal</h1>
<h2>Id: @Model.idAutor</h2>
<h2>Nombre: @Model.nombreAutor</h2>
<h2>Apellido: @Model.apellidoAutor</h2>
<br />
<br />
<br />
<h1>desde la vista parcial</h1>
<partial name="AutorSimple" />
