@{
    ViewData["title"] = "Informacion autor";
    Layout = "_Principal";
}

<h1>Informacion autor</h1>
<h2>Id: @Model.idAutor</h2>
<h2>Nombre: @Model.nombreAutor</h2>
<h2>Apellido: @Model.apellidoAutor</h2>
